html, body{
    width: 100%;
}

#turns-history {
  display: block;
}

#controls {
  display: block;
  background-color:green;
}

#balls-count-input {
  font-size: 90px;
  height: 10%;
  width: 110px;
}

#turn-stats-form {
  padding: 20px;
}

.inline-button {
  float: left;
}