  <div id="turns-history" class="container-fluid pre-scrollable" ng-style={'height':windowHeight/2}>
      <h1>{{turn.player}} {{turn.count}} {{turn.turnType}}</h1>
    <ul ng-repeat="turn in turns track by $index" class="turns-list">
      <li ng-style="turnStyle(turn)">{{turnToText(turn)}}</li>
    </ul>
  </div>

  <div id="controls full-width-tabs" ng-style={'height':windowHeight/2}>
    <tabset justified="true">
      <tab ng-repeat = "player in players" heading = {{player}} select="setPlayer($index)" active="$index===getPlayer()" ng-click="setPlayer($index)"> </tab>
    </tabset>
    <div id="my-tab-content" class="tab-content">
      <div class="tab-pane active">
        <form id="turn-stats-form" ng-submit="addTurn()">
          <div class="container">
            <div class="row">
              <div class="col-xs-3">
                <div class="row"> 
                  <div class="col-lg-1">
                    <input  id="balls-count-input" ng-model="turn.count" class="text-center input-lg"  type="number" name="balls-count" min="0" max="9"/>
                  </div> 
                </div>
              </div>
              <div class="col-xs-3">
                <div class="btn-group-vertical btn-group-lg">
                  <button  ng-repeat="type in turnTypes" type="button" class="btn btn-default" ng-click="setType($index)">{{type}}</button>
                </div>
              </div>
              <div class="col-xs-6"></div>
            </div> 
            <div id="btn-centered">
              <input type="submit" class="btn btn-primary btn-lg" value="Add">
            </div>
          </div>
        </form>
      </div>
    </div>