  <div id="turns-history" class="container-fluid" ng-style={'height':windowHeight/2}>
  </div>

  <div id="controls full-width-tabs" ng-style={'height':windowHeight/2}>
      <ul id="tabs" class="nav nav-tabs nav-justified" role="tablist">
          <li class="active"><a href="#">{{player1}}</a></li>
          <li><a href="#">{{player2}}</a></li>
      </ul>
      <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active">
            <form id="turn-stats-form">
              <div class="container">
              <div class="row">
                <div class="col-xs-3">
                  <div class="row"> <div class="col-lg-1">
                      <input  id="balls-count-input" class="text-center input-lg"  type="number" name="balls-count" min="0" max="9"/>
                      </div> </div>
                    </div>
                  <div class="col-xs-3">
                <div class="btn-group-vertical btn-group-lg">
                  <button type="button" class="btn btn-default">KICK</button>
                  <button type="button" class="btn btn-default">MISS</button></span>
                  <button type="button" class="btn btn-default">SAFETY</button>
                </div>
              </div>
                <div class="col-xs-6"></div>

              </div>
          </div>
              </form>
          </div>
      </div>